@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Noto+Sans+TC:wght@500&display=swap");

:root {
  --color-gray-1: #000000;
  --color-gray-2: #444444;
  --color-gray-3: #8c8c8c;
  --color-gray-4: #c6c6c6;
  --color-gray-5: #e2e2e2;
  --color-gray-6: #ffffff;

  --color-primary-1: #a8c400;
  --color-primary-2: #bbe217;
  --color-primary-3: #d1fa31;
  --color-primary-4: #eeffa9;
  --color-primary-5: #fbffe1;

  --sp-1: 4px;
  --sp-2: 8px;
  --sp-3: 16px;
  --sp-4: 24px;
  --sp-5: 32px;
  --sp-6: 48px;
  --sp-7: 64px;
}

@layer base {
  body {
    font-family: Noto Sans TC;
    @apply text-base leading-[1.75] font-medium;
  }
  ul {
    @apply flex justify-center items-center;
  }
  input {
    @apply focus:outline-[var(--color-gray-3)];
  }
}

@layer components {
  .nav {
    @apply sticky top-0 px-[var(--sp-3)] py-[var(--sp-3)] bg-[var(--solor-gray-6)] flex justify-between items-center;
    @apply xl:px-[var(--sp-6)];
  }
  .btn {
    @apply bg-[var(--color-primary-3)] flex items-center justify-center;
    @apply hover:bg-[var(--color-primary-2)];
  }
  .btn-sm {
    @apply btn;
    @apply rounded-[var(--sp-5)];
  }
  .header-bg {
    background: url("../src/images/Black-01.png");
    @apply w-[305px] h-[344px] xl:w-[361px] xl:h-[407px] bg-center bg-no-repeat bg-[length:305px_344px] xl:bg-[length:361px_407px];
  }
  .donation-card {
    @apply w-full border-2 border-[var(--color-primary-1)] p-[var(--sp-3)] rounded-[var(--sp-3)] flex justify-between items-center;
    @apply hover:bg-[var(--color-gray-1)];
    @apply xl:px-[var(--sp-5)];
  }
  .tab {
    @apply px-[var(--sp-1)] py-[var(--sp-3)] rounded-t-[var(--sp-3)] text-center w-full subtitle cursor-pointer;
    @apply xl:p-[var(--sp-3)];
    @apply hover:bg-[var(--color-primary-3)];
  }
}

@layer utilities {
  .display {
    @apply text-5xl leading-normal font-bold;
  }
  .title-28 {
    @apply text-[28px] leading-normal font-bold;
  }
  .title-24 {
    @apply text-2xl leading-normal font-bold;
  }
  .subtitle {
    @apply text-xl leading-normal font-medium;
  }
}
